# object files

*.o

# code

core

# programs

game/game
life/life
mandelbrot/mandelbrot
pngview/pngview
radar_sweep/radar_sweep
rgb_triangle/rgb_triangle
spriteview/spriteview
test_pattern/test_pattern
worms/worms

# other directories

*_/
